<html lang="en">

<%- include('./partials/header.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="blogs content">
                <h2>All Blogs Content</h2>

                <% if(blogs.length>0) { %>
                    <% blogs.forEach( blog=>{ %>
                        <h3 class="title">
                            <%= blog.title %>
                        </h3>
                        <p class="body">
                            <%= blog.body %>
                        </p>
                        <% }) }else { %>
                            <P>No Content Found</P>
                            <% } %>

            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>